<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication1.Properties.Settings.ConnectionString"
            connectionString="Provider=IBMDA400.DataSource.1;Data Source=10.9.2.121;Password=MAN137931;User ID=DDSWWWGOG;Initial Catalog=DDSBASE"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>